.DS_Store
**/__pycache__
LLMServe.egg-info/

data/datasets/
data/workloads/

offline_training/
train_log/
saved_model/*.pth

*.log
results/cases/case_*/
results/cases_*/
results/figures/
results/figures-base/
results/figures-compare/
results/generated.png
results/run.log*
results/archives/
results/copy_cases.sh

scripts/*.log
scripts/*.json

experiments/RQ2/case_*/
experiments/RQ3/LLaMA_2_*/
experiments/RQ3/LLaMA_2_*/
experiments/RQ4/case_*/
